{% extends "base.html" %}

{% block title %}
BoRun - Details of {{ run.track_name }} ({{ run.id }})
{% endblock %}

{% block content %}
<a href="{% url 'runplan.views.index' %}" class="button">Back to list</a>
<a href="{% url 'runplan.views.create' %}" class="button">Create new</a>

<h3>{{ run.track_name }}</h3>

{% if run.is_planned and run.author.id == user.id %}
    <a href="{% url 'runplan.views.edit' run.id %}" class="button">Edit run</a>
{% endif %}

<ul>
    <li>Created on: <b>{{ run.create_date }}</b></li>
    <li>Last update: <b>{{ run.last_change }}</b></li>
    <li>Created by: <b>{{ run.author.get_full_name|default:run.author.username }}</b></li>
    <li>Contact e-mail: <b>{{ run.author.email }}</b></li>
    <li>Contact phone: <b>{{ run.contact_phone|default:"--" }}</b></li>
    <li>Meeting date: <b>{{ run.meeting_date }}</b></li>
    <li>Starting point: <b>{{ run.starting_point }}</b></li>
    <li>Track length: <b>{{ run.track_length }}</b></li>
</ul>

<p>Details: {{ run.details }}</p>

<h3>Attendees</h3>
{% if run.is_planned %}
    {% if user_attendance %}
        <a href="{% url 'runplan.views.revoke' run.id %}" class="button">Revoke</a>
    {% else  %}
        <a href="{% url 'runplan.views.attend' run.id %}" class="button">Attend</a>
    {% endif %}
{% endif %}

{% if attendances %}
    <ul>
    {% for attendance in attendances %}
        <li>
            <b>{{ attendance.author.get_full_name|default:attendance.author.username }}</b>
            <p>{{ attendance.remarks }}</p>
        </li>
    {% endfor %}
    </ul>
{% else %}
    {% if run.is_planned %}
        <p>No attendances yet.</p>
    {% else %}
        <p>Nobody was in.</p>
    {% endif %}
{% endif %}

<h3>Transport offers</h3>
{% if run.is_planned %}
    {% if user_transport %}
        <a href="{% url 'runplan.views.transport_edit' run.id user_transport.id %}" class="button">Edit transport</a>
        <a href="{% url 'runplan.views.transport_cancel' run.id user_transport.id %}" class="button">Cancel transport</a>
    {% else  %}
        <a href="{% url 'runplan.views.transport_offer' run.id %}" class="button">Offer transport</a>
    {% endif %}
{% endif %}

{% if transports %}
    <ul>
    {% for transport in transports %}
        <li>
            <b>{{ transport.author.get_full_name|default:transport.author.username }}</b> offered on {{ transport.create_date }}
            <p>{{ transport.remarks }}</p>
            <p>
                Free seats: {{ transport.remaining_seats }}/{{ transport.offered_seats }}
                {% if transport.remaining_seats > 0 %}
                    <a href="{% url 'runplan.views.transport_takeseat' run.id transport.id %}" class="button">Take seat</a>
                {% endif %}
                
                {% if user.id in transport.booker_ids %}
                    <a href="{% url 'runplan.views.transport_freeseat' run.id transport.id %}" class="button">Free seat</a>
                {% endif %}
                
                {% if transport.booking_set.count > 0 %}
                    <ul>
                    {% for booker in transport.booking_set.all %}
                        <li><b>{{ booker.author.get_full_name|default:booker.author.username }}</b> took seat on {{ booker.create_date }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </p>
        </li>
    {% endfor %}
    </ul>
{% else %}
    {% if run.is_planned %}
        <p>No transport offers yet.</p>
    {% else %}
        <p>No transport offers were made.</p>
    {% endif %}
{% endif %}

<form action="{% url 'runplan.views.detail' run.id %}" method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" value="Comment"/>
</form>

{% if comments %}
    <h3>Comments</h3>
    <div>
    {% for comment in comments %}
        <p>
            {% if forloop.first %}
                Latest:
            {% endif %}
            <b>{{ comment.author.get_full_name|default:comment.author.username }}</b> wrote on {{ comment.create_date }}:
        </p>
        <p>{{ comment.comment_text }}</p>
    {% endfor %}
    </div>
{% else %}
    <p>No comments yet.</p>
{% endif %}
{% endblock %}
