{% extends "base.html" %}

{% block title %}
BoRun - Run overview
{% endblock %}

{% block content %}
<a href="{% url 'runplan.views.create' %}" class="button">Create new</a>

{% if all_runs|length > 0 %}
    <h3>Planned runs</h3>
    {% for run in planned_runs %}
        <p>
            <a href="{% url 'runplan.views.detail' run.id %}">{{ run.track_name }}</a>
            on {{ run.meeting_date }}
        </p>
    {% empty %}
        <p>No runs are planned.</p>
    {% endfor %}

    <h3>Past runs</h3>
    {% for run in past_runs %}
        <p>
            <a href="{% url 'runplan.views.detail' run.id %}">{{ run.track_name }}</a>
            on {{ run.meeting_date }}
        </p>
    {% empty %}
        <p>No past runs yet. Lazy?</p>
    {% endfor %}
{% else %}
    <p>Neither past nor planned runs yet. C'mon, get off your couch!</p>
{% endif %}
{% endblock %}
