<a href="{% url 'runplan.views.create' %}">Create new</a>

{% if run_list %}
    <h3>Planned runs</h3>
    <ul>
    {% for run in run_list %}
        {% if run.is_planned %}
            <li><a href="{% url 'runplan.views.detail' run.id %}">{{ run.track_name }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>

    <h3>Past runs</h3>
    <ul>
    {% for run in run_list %}
        {% if run.is_past %}
            <li><a href="{% url 'runplan.views.detail' run.id %}">{{ run.track_name }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No runs are planned.</p>
{% endif %}
