{% extends "base.html" %}

{% block title %}
BoRun - Edit transport for {{ run.track_name }} ({{ run.id }})
{% endblock %}

{% block scripts %}
<script>
    $(function() {
        $('input#id_offered_seats').spinner({
            min: 1,
            max: 8
        });
    });
</script>
{% endblock %}

{% block content %}
<a href="{% url 'runplan.views.detail' run.id %}" class="button">Back to run</a>

<form action="{% url 'runplan.views.transport_edit' run.id transport.id %}" method="post">
    {% csrf_token %}
    {{ transport_form.as_p }}
    <input type="submit" value="Submit changes"/>
</form>
{% endblock %}
