{% extends "base-mobile.html" %}
{% load url from future %}
{% load i18n %}

{% block title %}
{% trans 'Activity' %}
{% endblock %}

{% block header %}
<h1>{% trans 'Activity' %}</h1>
<a href="#" id="id_activity_refresh" data-icon="refresh" data-iconpos="right" class="ui-btn-right">{% trans 'Refresh' %}</a>

<div data-role="navbar" data-iconpos="bottom">
    <ul>
        <li><a href="{% url 'runplan.views.index' %}" data-transition="fade" data-theme="b">{% trans 'Planned' %}</a></li>
        <li><a href="{% url 'runplan.views.shouts' %}" data-transition="fade" data-theme="b">{% trans 'Shouts' %}</a></li>
        <li><a href="{% url 'runplan.views.activity' %}" data-transition="fade" data-theme="b" class="ui-btn-active ui-state-persist">{% trans 'Activity' %}</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<ul data-role="listview" data-inset="false" data-filter="false">
    {% for activity in activities|slice:':15' %}
        <li>
            <a href="{% url 'runplan.views.detail' activity.run.id %}">{{ activity.text }}</a>
        </li>
    {% empty %}
        <p>{% trans 'No activity yet.' %}</p>
    {% endfor %}
</ul>
{% endblock %}

{% block scripts %}
<script>
    // Refresh page upon button click
    $(document).on('pageinit', function() {
        $('#id_activity_refresh').bind('click', function(e,p) {
            location.reload(true);
        })
    });
</script>
{% endblock %}
