{% load url from future %}
{% load i18n %}

{% for activity in activities %}
    <p class="compact">
        {% if forloop.first %}
            <big>
        {% else %}
            <small>
        {% endif %}

        {{ activity.create_date }}: <a href="{% url 'runplan.views.detail' activity.run.id %}">{{ activity.text }}</a>

        {% if forloop.first %}
            </big>
        {% else %}
            </small>
        {% endif %}
    </p>
{% empty %}
    <p>{% trans 'No activity yet.' %}</p>
{% endfor %}
