{% extends "base-mobile.html" %}
{% load url from future %}
{% load i18n %}

{% block title %}
{{ t_new_run }}
{% endblock %}

{% block header %}
<h1>{{ t_new_run }}</h1>
<a href="{% url 'runplan.views.index' %}" data-icon="back" data-iconpos="left" class="ui-btn-left">{% trans 'Cancel' %}</a>
{% endblock %}

{% block content %}
<form action="{% url 'runplan.views.create' %}" method="post">
    {% csrf_token %}
    {{ create_form.non_field_errors }}

    {{ create_form.contact_phone.errors }}
    <input id="{{ create_form.contact_phone.id_for_label }}"
           name="{{ create_form.contact_phone.html_name }}"
           maxlength="{{ create_form.contact_phone.max_length }}"
           placeholder="{{ create_form.contact_phone.label }}"
           value="{{ create_form.instance.contact_phone|default:"" }}"
           type="text">

    {{ create_form.meeting_date.errors }}
    <input id="{{ create_form.meeting_date.id_for_label }}"
           name="{{ create_form.meeting_date.html_name }}"
           maxlength="{{ create_form.meeting_date.max_length }}"
           placeholder="{{ create_form.meeting_date.label }}"
           type="text">

    <input id="id_date_selector" name="date_selector" type="date"
           data-role="datebox"
           data-options='{"mode": "calbox",
                       "useInline": true,
                       "afterToday": true,
                       "overrideDateFormat": "%d.%m.%Y"}'>

    <input id="id_time_selector" name="time_selector" type="date"
           data-role="datebox"
           data-options='{"mode": "timebox",
                       "useInline": true,
                       "useSetButton": false,
                       "useImmediate": true,
                       "minHour": 6,
                       "maxHour": 22,
                       "minuteStep": 5}'>

    {{ create_form.starting_point.errors }}
    <input id="{{ create_form.starting_point.id_for_label }}"
           name="{{ create_form.starting_point.html_name }}"
           maxlength="{{ create_form.starting_point.max_length }}"
           placeholder="{{ create_form.starting_point.label }}"
           value="{{ create_form.instance.starting_point }}"
           type="text">

    {{ create_form.track_name.errors }}
    <input id="{{ create_form.track_name.id_for_label }}"
           name="{{ create_form.track_name.html_name }}"
           maxlength="{{ create_form.track_name.max_length }}"
           placeholder="{{ create_form.track_name.label }}"
           value="{{ create_form.instance.track_name }}"
           type="text">

    {{ create_form.track_length.errors }}
    <label for="{{ create_form.track_length.id_for_label }}">
        {% trans 'track length [km]' %}:
    </label>
    <input id="{{ create_form.track_length.id_for_label }}"
           name="{{ create_form.track_length.html_name }}"
           type="range" min="0" max="42" step=".1"
           value="{{ create_form.instance.track_length|stringformat:".1f" }}"
           data-highlight="false">

    {{ create_form.details.errors }}
    <label for="{{ create_form.details.id_for_label }}">
        {% trans 'details' %}:
    </label>
    {{ create_form.details }}

    <input type="submit" value="{% trans 'Create' %}" data-icon="check" data-iconpos="left"/>
</form>
{% endblock %}

{% block scripts %}
<script>
    // Update the real but hidden input field each time the date selector changes
    $(document).on('pageinit', function() {
        $('#id_date_selector').bind('change', function(e,p) {
            var pattern = /\d{2}\.\d{2}\.\d{4}/g;
            var curVal = $('#{{ create_form.meeting_date.id_for_label }}').val();
            var newVal = $(this).val();

            if (curVal.match(pattern) != null) {
                var value = curVal.replace(pattern, newVal);
            }
            else {
                var value = newVal + ' ' + curVal.trim();
            }

            $('#{{ create_form.meeting_date.id_for_label }}').val(value);
        })
    });

    // Update the real but hidden input field each time the time selector changes
    $(document).on('pageinit', function() {
        $('#id_time_selector').bind('change', function(e,p) {
            var pattern = /\d{2}:\d{2}/g;
            var curVal = $('#{{ create_form.meeting_date.id_for_label }}').val();
            var newVal = $(this).val();

            if (curVal.match(pattern) != null) {
                var value = curVal.replace(pattern, newVal);
            }
            else {
                var value = curVal.trim() + ' ' + newVal;
            }

            $('#{{ create_form.meeting_date.id_for_label }}').val(value);
        })
    });
</script>
{% endblock %}
