{% extends "base-mobile.html" %}
{% load url from future %}
{% load i18n %}

{% block title %}
{{ t_edit_run }}
{% endblock %}

{% block header %}
<h1>{{ t_edit_run }}</h1>
<a href="{% url 'runplan.views.detail' run.id %}" data-icon="back" data-iconpos="left" class="ui-btn-left">{% trans 'Back' %}</a>
{% endblock %}

{% block content %}
<form action="{% url 'runplan.views.edit' run.id %}" method="post">
    {% csrf_token %}
    {{ edit_form.non_field_errors }}
    <div date-role="fieldcontain">
        {{ edit_form.contact_phone.errors }}
        <input id="{{ edit_form.contact_phone.id_for_label }}"
               name="{{ edit_form.contact_phone.html_name }}"
               maxlength="{{ edit_form.contact_phone.max_length }}"
               placeholder="{{ edit_form.contact_phone.label }}"
               value="{{ edit_form.instance.contact_phone }}"
               type="text">
    </div>
    <div date-role="fieldcontain">
        {{ edit_form.meeting_date.errors }}
        <input id="{{ edit_form.meeting_date.id_for_label }}"
               name="{{ edit_form.meeting_date.html_name }}"
               maxlength="{{ edit_form.meeting_date.max_length }}"
               placeholder="{{ edit_form.meeting_date.label }}"
               value="{{ edit_form.instance.meeting_date|date:"d.m.Y H:i" }}"
               type="text">

        <input id="id_date_selector" name="date_selector" type="date"
               data-role="datebox"
               data-options='{"mode": "calbox",
                           "useInline": true,
                           "afterToday": true,
                           "overrideDateFormat": "%d.%m.%Y",
                           "defaultValue": [{{ edit_form.instance.meeting_date|date:"Y,n,j" }}]}'>

        <input id="id_time_selector" name="time_selector" type="date"
               data-role="datebox"
               data-options='{"mode": "timebox",
                           "useInline": true,
                           "useSetButton": false,
                           "useImmediate": true,
                           "minuteStep": 5,
                           "defaultValue": "{{ edit_form.instance.meeting_date|date:"H:i" }}"}'>
    </div>
    <div date-role="fieldcontain">
        {{ edit_form.starting_point.errors }}
        <input id="{{ edit_form.starting_point.id_for_label }}"
               name="{{ edit_form.starting_point.html_name }}"
               maxlength="{{ edit_form.starting_point.max_length }}"
               placeholder="{{ edit_form.starting_point.label }}"
               value="{{ edit_form.instance.starting_point }}"
               type="text">
    </div>
    <div date-role="fieldcontain">
        {{ edit_form.track_name.errors }}
        <input id="{{ edit_form.track_name.id_for_label }}"
               name="{{ edit_form.track_name.html_name }}"
               maxlength="{{ edit_form.track_name.max_length }}"
               placeholder="{{ edit_form.track_name.label }}"
               value="{{ edit_form.instance.track_name }}"
               type="text">
    </div>
    <div date-role="fieldcontain">
        {{ edit_form.track_length.errors }}
        <label for="{{ edit_form.track_length.id_for_label }}">
            {% trans 'track length [km]' %}:
        </label>
        <input id="{{ edit_form.track_length.id_for_label }}"
               name="{{ edit_form.track_length.html_name }}"
               type="range" min="0" max="42" step=".1"
               value="{{ edit_form.instance.track_length|stringformat:".1f" }}"
               data-highlight="false">
    </div>
    <div date-role="fieldcontain">
        {{ edit_form.details.errors }}
        <label for="{{ edit_form.details.id_for_label }}">
            {% trans 'details' %}:
        </label>
        {{ edit_form.details }}
    </div>
    <input type="submit" value="{% trans 'Submit changes' %}" data-icon="check" data-iconpos="left"/>
</form>
{% endblock %}

{% block scripts %}
<script>
    // Update the real but hidden input field each time the date selector changes
    $(document).on('pageinit', function() {
        $('#id_date_selector').bind('change', function(e,p) {
            var pattern = /\d{2}\.\d{2}\.\d{4}/g;
            var curVal = $('#{{ edit_form.meeting_date.id_for_label }}').val();
            var newVal = $(this).val();

            if (curVal.match(pattern) != null) {
                var value = curVal.replace(pattern, newVal);
            }
            else {
                var value = newVal + ' ' + curVal.trim();
            }

            $('#{{ edit_form.meeting_date.id_for_label }}').val(value);
        })
    });

    // Update the real but hidden input field each time the time selector changes
    $(document).on('pageinit', function() {
        $('#id_time_selector').bind('change', function(e,p) {
            var pattern = /\d{2}:\d{2}/g;
            var curVal = $('#{{ edit_form.meeting_date.id_for_label }}').val();
            var newVal = $(this).val();

            if (curVal.match(pattern) != null) {
                var value = curVal.replace(pattern, newVal);
            }
            else {
                var value = curVal.trim() + ' ' + newVal;
            }

            $('#{{ edit_form.meeting_date.id_for_label }}').val(value);
        })
    });
</script>
{% endblock %}
