{% extends "base-mobile.html" %}
{% load url from future %}
{% load i18n %}

{% block title %}
{% trans 'Planned' %}
{% endblock %}

{% block header %}
<h1>{% trans 'Planned' %}</h1>
<a href="{% url 'runplan.views.create' %}" data-icon="plus" data-iconpos="left" class="ui-btn-left">{% trans 'New' %}</a>

<div data-role="navbar" data-iconpos="bottom">
    <ul>
        <li><a href="{% url 'runplan.views.index' %}" data-transition="fade" data-theme="b" class="ui-btn-active ui-state-persist">{% trans 'Planned' %}</a></li>
        <li><a href="{% url 'runplan.views.activity' %}" data-transition="fade" data-theme="b">{% trans 'Activity' %}</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
{% if all_runs|length > 0 %}
    <ul data-role="listview" data-inset="false" data-filter="false">
        <li data-role="list-divider" data-theme="d" role="heading" class="section">
            {% trans 'Planned' %}
        </li>
        
        {% for run in planned_runs %}
            <li>
                <a href="{% url 'runplan.views.detail' run.id %}">
                    {% if run.canceled %}
                        <strike>{{ run.track_name }}</strike>
                    {% else %}
                        {{ run.track_name }}
                    {% endif %}
                </a>
            </li>
        {% empty %}
            <div style="text-align: center;">{% trans 'No runs are planned.' %}</div>
        {% endfor %}
        
        <li data-role="list-divider" data-theme="d" role="heading" class="section">
            {% trans 'Past' %}
        </li>
        
        {% for run in past_runs %}
            <li>
                <a href="{% url 'runplan.views.detail' run.id %}">
                    {% if run.canceled %}
                        <strike>{{ run.track_name }}</strike>
                    {% else %}
                        {{ run.track_name }}
                    {% endif %}
                </a>
            </li>
        {% empty %}
            {% trans 'No past runs yet.' %}
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
