{% extends "base-mobile.html" %}
{% load url from future %}
{% load i18n %}

{% block title %}
{{ t_edit_transport }}
{% endblock %}

{% block header %}
<h1>{{ t_edit_transport }}</h1>
<a href="{% url 'runplan.views.detail' run.id %}" data-icon="back" data-iconpos="left" class="ui-btn-left">{% trans 'Back' %}</a>
{% endblock %}

{% block content %}
<form action="{% url 'runplan.views.transport_edit' run.id transport.id %}" method="post">
    {% csrf_token %}
    {{ transport_form.as_p }}
    <input type="submit" value="{% trans 'Submit changes' %}" data-icon="check" data-iconpos="left"/>
</form>
{% endblock %}
